{
    "port": 9528,
    "database" : {
        "driver": "mysql",
        "host": "127.0.0.1",
        "port": "3306",
        "user": "db-user",
        "pass": "db-access-password",
        "dbname": "lessids"
    }
}
