Source: lessiam
Section: Applications
Priority: optional
Maintainer: Eryx <evorui@gmail.com>
Version: x.y.z
Homepage: https://github.com/eryx/lessiam
Package: lessiam
Architecture: amd64
Depends: adduser
Description: lessCompute Identity Server - Enterprise PaaS Middleware


