Source: lessids
Section: Applications
Priority: optional
Maintainer: Eryx <evorui@gmail.com>
Version: x.y.z
Homepage: https://github.com/eryx/lessids
Package: lessids
Architecture: amd64
Depends: adduser
Description: lessCompute Identity Server - Enterprise PaaS Middleware


